* {
  background-color: #1DB954;
  font-family: "Montserrat", sans-serif;
}

.navbar, .navbar-brand {
  background-color: #000000;
  color: #1DB954;
  height: 63px;
  margin-bottom: 0 !important;
  border-radius: 0 !important;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#fade {
  transition: background 0.3s;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
}

#Hip-Hop, #RB, #EDM {
  transition: background 0.3s;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
}

#desc {
  font-style: italic;
  padding-top: 10px;
  padding-bottom: 10px;
}

#logo {
  color: #1DB954;
  text-decoration: none;
}

#play_button, #choose {
  margin: auto;
  display: block;
}

.sign {
  padding-top: 50px;
}

#choose {
  padding-top: 50px;
}

.choice {
  border-color: #000000;
  text-transform: uppercase;
  height: 100%;
  font-weight: 750;
  color: #FFFFFF;
}

.choice:hover {
  color: white;
  background: #404040;
}

.create {
  margin: auto;
  display: block;
  border-color: #000000;
  background: #000000;
  text-transform: uppercase;
  height: 100%;
  font-weight: 750;
  color: #FFFFFF;
  padding: 1em 20em;
  border-radius: 30px;
}

.create:hover {
  color: white;
  background: #404040;
}

.center
{
  text-align: center;
}

.icon
{
   background-color: #000000;
   box-sizing: content-box;
   margin: 1em;
   padding: 1em;
   display: inline-block;
   border-radius: 30px;
}

.row-fluid-1
{
  display: flex;
  align-items: center;
  justify-content: center;
}
.dl-horizontal
{
  display: none;
}
.btn-circle.btn-lg {
  width: 65px;
  height: 65px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 30px;
}

.playlist{
  display: none;
}

.container-fluid {
  background-color: #1DB954;
}

.redirect {
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  display: block;
  border-color: #000000;
  background: #000000;
  text-transform: uppercase;
  height: 100%;
  font-weight: 750;
  color: #FFFFFF;
  padding: 1em 10em;
  border-radius: 30px;
}

.redirect:hover {
  color: white;
  background: #404040;
}

#footer, #footer2 {
  position: absolute;
  bottom: 0;
  width: 98%;
  height: 2.0rem;            /* Footer height */
  float: bottom;
  text-align: right;


  max-width: 100%;
  overflow-x: hidden;
}

#login, #loggedin {
  display: none;
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 500px;
}

.container-fluid-selection {
   display: none;
}

#profile {
  color: #ffffff;
}

#profile:hover {
  text-decoration: none;
  color: #404040;
}

#middle {
  margin: 0 auto;
}
