* {
  background-color: #1DB954;
  font-family: "Montserrat", sans-serif;
}

.navbar, .navbar-brand {
  background-color: #000000;
  color: #1DB954;
  /* height: 63px; */
  margin-bottom: 0 !important;
  border-radius: 0 !important;
}
.navbar-nav{
  background-color: #000000;
  color: #1DB954;
  padding-top: 17px;
}
.nav-item{
  /* color: #3A1DB9; */
  padding-left: 10px;
  padding-right: 10px;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#fade {
  transition: background 0.3s;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
}

#Hip-Hop, #RB, #EDM {
  transition: background 0.3s;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
}

#desc {
  font-style: italic;
  padding-top: 10px;
  padding-bottom: 10px;
}
p {
  padding-left: 25%;
  padding-right: 25%;
}
hr {
  width: 350px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
/* #line {
  width: auto;
  border-top: 1px solid #3A1DB9;
  border-bottom: 1px solid #3A1DB9;
} */
#line {
  width: 100%;
  border-top: 1px solid #3A1DB9;
  border-bottom: 1px solid #3A1DB9;
}
#line2 {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
#logo {
  color: #1DB954;
  text-decoration: none;
}

#play_button, #choose {
  margin: auto;
  display: block;
}

.sign {
  padding-top: 50px;
}

#choose {
  padding-top: 50px;
}

.choice {
  border-color: #000000;
  text-transform: uppercase;
  height: 100%;
  font-weight: 750;
  color: #FFFFFF;
}

.choice:hover {
  color: white;
  background: #404040;
}

.create {
  margin: auto;
  display: block;
  border-color: #000000;
  background: #000000;
  text-transform: uppercase;
  height: 100%;
  font-weight: 750;
  color: #FFFFFF;
  padding: 1em 20em;
  border-radius: 30px;
}

.create:hover {
  color: white;
  background: #404040;
}

.center
{
  text-align: center;
}

.icon
{
   background-color: #000000;
   box-sizing: content-box;
   margin: 1em;
   padding: 1em;
   display: inline-block;
   border-radius: 30px;
}

.row-fluid-1
{
  display: flex;
  align-items: center;
  justify-content: center;
}
.row-fluid-3
{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}
.dl-horizontal
{
  display: none;
}
.btn-circle.btn-lg {
  width: 65px;
  height: 65px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 30px;
}
.headshots{
  object-fit: cover;
  height: 250px;
  width: 100%;
}
.playlist{
  display: none;
}

.container-fluid {
  background-color: #1DB954;
}

.redirect {
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  display: block;
  border-color: #000000;
  background: #000000;
  text-transform: uppercase;
  height: 100%;
  font-weight: 750;
  color: #FFFFFF;
  padding: 1em 10em;
  border-radius: 30px;
}

.redirect:hover {
  color: white;
  background: #404040;
}

#footer, #footer2 {
  position: absolute;
  bottom: 0;
  width: 98%;
  height: 2.0rem;            /* Footer height */
  float: bottom;
  text-align: right;
  max-width: 100%;
  overflow-x: hidden;
}

#login, #loggedin {
  display: none;
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 500px;
}

.container-fluid-selection {
   display: none;
}

#profile {
  color: #ffffff;
}

#profile:hover {
  text-decoration: none;
  color: #404040;
}

#middle {
  margin: 0 auto;
}

.loader {
	max-width: 15rem;
	width: 100%;
	height: auto;
	stroke-linecap: round;
}

circle {
    fill: none;
    stroke-width: 3.5;
    -webkit-animation-name: preloader;
    animation-name: preloader;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-transform-origin: 170px 170px;
    transform-origin: 170px 170px;
    will-change: transform;
}
circle:nth-of-type(1) {
    stroke-dasharray: 550;
}
circle:nth-of-type(2) {
    stroke-dasharray: 500;
}
circle:nth-of-type(3) {
    stroke-dasharray: 450;
}
circle:nth-of-type(4) {
    stroke-dasharray: 300;
}
circle:nth-of-type(1) {
    -webkit-animation-delay: -0.15s;
    animation-delay: -0.15s;
}
circle:nth-of-type(2) {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}
circle:nth-of-type(3) {
    -webkit-animation-delay: -0.45s;
    animation-delay: -0.45s;
}
circle:nth-of-type(4) {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}
 @-webkit-keyframes preloader {
 50% {
 -webkit-transform: rotate(360deg);
 transform: rotate(360deg);
}
}
 @keyframes preloader {
 50% {
 -webkit-transform: rotate(360deg);
 transform: rotate(360deg);
}
}
#after {
    /* padding-top: 5%; */
    /* text-align: center; */
    animation: fadein 4s;
    -moz-animation: fadein 4s; /* Firefox */
    -webkit-animation: fadein 4s; /* Safari and Chrome */
    -o-animation: fadein 4s; /* Opera */
}
#welc {
    /* margin-top: 5%; */
    text-align: center;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
