* {
  background-color: #1DB954;
  font-family: "Gotham";
}

.navbar, .navbar-brand {
  background-color: #000000;
  color: #1DB954;
  margin-bottom: 0 !important;
  border-radius: 0px;
}

.redirect {
  margin: auto;
  display: block;
  border-color: #000000;
  background: #000000;
  text-transform: uppercase;
  height: 100%;
  font-weight: 750;
  color: #FFFFFF;
  padding: 1em 20em;
  border-radius: 30px;

}

.redirect:hover {
  color: white;
  background: #404040;
}

.center
{
  text-align: center;
}

.sign {
  padding-top: 50px;
}

.icon
{
   background-color: #1BD518;
   box-sizing: content-box;
   margin: 1em;
   padding: 1em;
   box-shadow: 1px 2px 1px 2px #d2d5d8;
   display: inline-block;
}

.row-fluid-1
{
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-circle.btn-lg {
  width: 65px;
  height: 65px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 30px;
}

.playlist{
  display: none;
}
